/**
* Copyright © Magento, Inc. All rights reserved. 
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3{
	border-bottom: 1px solid #333;
	text-transform: uppercase;
	padding-bottom: 5px;
}

h5{
	font-weight: bold
}